/Tecnicatura3Java/Lección03/ModificadoresDeAcceso/nbproject/private/
/Tecnicatura3Java/Lección04/Sobreescritura/nbproject/private/
# Ignorar archivos con extension .idea
.idea/

# Ignorar archivos con extension .iml
*.iml

# Ignorar archivos con extension .xml
*.xml

# Ignorar archivos con extension .mf
*.mf

# Ignorar directorio nbproject
nbproject/

# Ignorar directorio out
out/

# Ignorar archivo README.md
README.md

# Ignorar archivo 01-03-funciones.js en el directorio Tecnicatura3JS/TSLección03/
Tecnicatura3JS/TSLección03/01-03-funciones.js
