/* products styles */
.card-products-container {
    margin: 5vh auto;
}

.card-products {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-products img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.card-products button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.card-products button :hover {
    opacity: 0.7;
}

.cart-counter {
    display: none;
    position: fixed;
    top: 89vh; 
    right: 27px;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
}

/* Modal */
.modal-overlay{
    display: none;
    background-color: black;
    positon: fixed;
    top: 0;
    left: 0;
    
}